.success {
    background-color: hsl(153, 31%, 86%);
    border: 0.0625rem solid hsl(153, 31%, 73%);
    color: hsl(152, 69%, 31%);
}

.danger {
    background-color: hsl(355, 70%, 91%);
    border: 0.0625rem solid hsl(354, 71%, 81%);
    color: hsl(354, 70%, 54%);
}

.warning {
    background-color: hsl(46, 100%, 90%);
    border: 0.0625rem solid hsl(45, 100%, 80%);
    color: hsl(45, 100%, 40%);
}

.info {
    background-color: hsl(191, 88%, 90%);
    border: 0.0625rem solid hsl(190, 88%, 80%);
    color: hsl(190, 90%, 40%);
}

.secondary {
    background-color: hsl(210, 16%, 93%);
    border: 0.0625rem solid hsl(210, 14%, 82%);
    color: hsl(210, 0%, 35%);
}